<%- include("header") -%>

<h2>This is my about Page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae labore molestias praesentium vitae sit excepturi at libero maiores laboriosam modi odit autem consequuntur dolorem, accusamus debitis corporis. Maiores, ipsam beatae?</p>

<%- include("footer") -%>