<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">

<body>
    <!-- <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
    <h1 style="color: red">It's a
        <%= kindOfDay %>
        Todo List
    </h1>
    <% }else { %>
    <h1 style="color: purple">It's a
        <%= kindOfDay %>
        Todo List
    </h1>
    <% } %> -->
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">
        <% for (let i =0; i < newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p>
                <%= newListItems[i] %>
            </p>
        </div>
        <% } %>
        <!-- //posts to the homeroute -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Add Todo" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>

</body>

</html>