#title
    background-color: #44BBA4
    color: #fff
    
.container-fluid
    padding: 3% 15% 12%

.download-button
    margin: 5% 3% 5% 0

.title-image
    width: 60%
    transform: rotate(25deg)
    position: absolute
    right: 30%
@media (max-width: 1028px)
    #title 
        text-align: center
    .title-image
        position: static
        transform: rotate(0)
    